body {
    background-color: lightyellow;
}
h1 {
    text-align: center;
}
.calculator {
    border: 1px solid black;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 250px;
    position: absolute;
    background-color: lightgray;
    float: left;
}
.calculator-screen {
    width: 100%;
    font-size: 4rem;
    height: 80px;
    border: none;
    background-color: black;
    color: white;
    text-align: right;
    resize: none;
}
.calculator-numbers{
    float: left;
    width: 80%;
    height: 75%;
}
.operators{
    float: left;
    width: 20%;
    height: 75%;
}
.equals{
    float: left;
    height: 20%;
    width: 100%;
}
button {
    height: 60px;
    width: 50px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 2rem;
}
button:hover{
    background-color: darkgray;
}
.equals-button{
    background-color: greenyellow;
    width: 100%;
}
.ac{
    background-color: palevioletred;
}
.log{
    float: left;
    position: absolute;
    background-color: antiquewhite;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 300px;
    border: solid 1px black;
}
.loggerHeader{
    text-align: left;
    font-size: 1rem;
}
.loggerField{
    background-color: white;
    resize: none;
    width: 98%;
    height: 86%;
}